%html
  %head
  %body
    %h2= key

    %ul#history
      - history.each do |key|
        %li
          %a{:href => "./#{key}"}= key


    #values
      - if values.is_a?(String)
        = values
      - else
        %ul
          - values.each do |value| 
            %li.value= value

    #config
      = "#{redis.client.host}:#{redis.client.port} db: #{redis.client.db}"
